header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #333;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  padding: 10px 20px;

  & > h2 {
    margin: 0;
  }

  & > ul {
    display: inline-flex;
    margin: 0;
    list-style: none;

    li:last-of-type {
      margin-left: 20px;
    }
  }
}
