.exchange-container {
  text-align: center;
  border: 1px solid #e0e1e5;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  padding: 30px;
  margin-left: 400px;
  margin-top: 30px;

  & > input {
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px lightcyan;
  }
}
