.exchange-container {
  text-align: center;
}

.exchange-container-inner {
  display: inline-flex;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;

  button,
  input,
  select {
    height: 32px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 4px;
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }

  select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button {
    margin: 0 20px;
    cursor: pointer;
  }
}

.exchange-container-dicider {
  margin: 20px;
}
