<div class="exchange-container">
  <div class="exchange-container-inner">
    <input
      type="number"
      [value]="inputValueFrom"
      (input)="onFromAmountChange($event)"
    />
    <select (change)="onFromCurrencyChange($event)">
      <option
        *ngFor="let currency of currencies"
        [selected]="currency === selectedFromCurrency"
      >
        {{ currency }}
      </option>
    </select>
    <div class="exchange-container-divider"></div>
    <input
      type="number"
      [value]="inputValueTo"
      (input)="onToAmountChange($event)"
    />
    <select (change)="onToCurrencyChange($event)">
      <option
        *ngFor="let currency of currencies"
        [selected]="currency === selectedToCurrency"
      >
        {{ currency }}
      </option>
    </select>
  </div>
</div>
